KAFKA_URL=[url kafka server]
KAFKA_TOPIC=[name topic in kafka]
KAFKA_GROUP_ID=[group id in kafka]
KAFKA_AUTO_OFFSET_RESET=[0 - latest, 1 - earliest, 2 - error]

MAIL_SERVICE=[MailRu|GoogleCom|YandexRu|PochtaRu|RamblerRu]
EMAIL_SENDER=[email address sender]
EMAIL_PASSWORD=[password | API-key from email address sender]

APP_ADDRESS=[address where started instance system]
